html, body { width:100% }

#header {
	z-index:1;
	margin-top:0px;
	position:fixed;
	height:180px;
	width:100%;
	top: 0;
	left: 0;
	right: 0;
	background-color:black;
	color:white;
	text-align:center;
	padding:5px;
}

#header h1 {
	margin: 10px 0;
}

#navigation {
	background-color:grey;
	left:0;
	right:0;
}

#container {
	background-image:url('images/img1.jpg');
	background-size:50%;
	height:500px;
	width:500px;
	border:2px solid black;
	margin-right:845px;
	top:348px
}

.img-duplicate {
	height:500px;
	width:500px;
	margin-right:600px;
	top:348px;
	position:absolute;
}

#left_holder {
height:450px;
width:100px;
position:absolute;
left:0px;
top:0px;
}

#right_holder {
height:450px;
width:100px;
position:absolute;
right:0px;
top:0px;
}

.left {
height:50px;
width:50px;
position:absolute;
top:40%;
left:0px;

}

.right {
height:50px;
width:50px;
position:absolute;
top:40%;
right:0px;
}

iframe {
border: 2px inset;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
}